

body {
    margin: 10px;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-image: url(https://images.unsplash.com/photo-1510936111840-65e151ad71bb?q=80&w=1490&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.header-background {
    width: 100%;
    transition: 0.3s; 
}

.body-content {
    margin-top: 100px; 
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.logo-img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 110, 255, 0.7); 
}

.branding {
    margin-left: 20px;
}

.brand-name, .tagline {
    font-family: 'Arial Black', sans-serif;
    color: #000000;
    margin: 0;
}

.brand-name {
    font-size: 34px; 
    animation: scaleAndFade 2s infinite alternate; 
}

.tagline {
    font-size: 16px; 
}


@keyframes scaleAndFade {
    from {
        transform: scale(1);
        opacity: 0.8;
    }
    to {
        transform: scale(1.1);
        opacity: 1;
    }
}


.fixed-element {
    position: fixed;
    top: 10px; 
    left: 20px; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transition: opacity 0.3s ease;
}


body.scroll-down .fixed-element {
    opacity: 1;
}


body.scroll-up .fixed-element {
    opacity: 0;
}

.card {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 10px;
    overflow: hidden;
    max-height: 300px;
    transition: transform 0.3s ease-in-out;
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card-body {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-title {
    font-size: 1.5rem;
    color: #000000;
    margin-bottom: 10px;
  }

  .card-text {
    font-size: 1rem;
    color: #000000;
    flex-grow: 1;
  }
  .list-group {
    list-style: none;
    padding: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .list-group-item {
    background-color: #f8f9fa;
    border: none;
    border-bottom: 3px solid #dee2e6;
    transition: background-color 0.3s ease-in-out;
  }

  .list-group-item:hover {
    background-color: #e9ecef;
  }

  .list-group-item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .list-group-item:last-child {
    border-bottom: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .list-group-item.disabled {
    background-color: #f8f9fa;
    color: #6c757d;
    cursor: not-allowed;
  }
  .my-table {
      margin-top: 20px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      background-color: #fff;
      animation: fadeIn 1s ease-in-out;
    }

    .my-table .col {
      padding: 15px;
      background-color: #f8f9fa;
      border-bottom: 1px solid #dee2e6;
    }

    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
    .my-table {
        margin-top: 20px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        animation: fadeIn 1s ease-in-out;
      }
  
      .my-table .col {
        padding: 30px;
        background-color: #f8f9fa;
        border-bottom: 1px solid #ffffff;
      }
  
      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }

      .Categoria1{
        text-align: center;
        color: #fff;
      }

      #carouselExampleIndicators {
        overflow: hidden;
      }
  
      .carousel-inner img {
        width: 100%;
        height: auto;
      }

      .col-8{
        color: #fff;
      }